<div class="container-fluid mt-50">
  <div class="col-sm-offset-1 col-sm-10">
    <h3 *ngIf="!id">{{ "newtreestudy" | translate }}</h3>
    <h3 *ngIf="id">{{ "edittreestudy" | translate }}</h3>

    <ul class="nav nav-tabs mt-20">
      <li class="active"><a data-toggle="tab" href="#settings"><span *ngIf="!isEditMode">1. </span>{{ "settings" | translate }}</a></li>
      <li [ngClass]="{'not-allowed': !testName.length}"><a  [ngClass]="{'not-allowed': !testName.length}" data-toggle="tab" href="#tree"><span *ngIf="!isEditMode">2. </span>{{ "tree" | translate }}</a></li>
      <li [ngClass]="{'not-allowed': !testName.length}" (click)="defineCorrectAnswer(0);"><a [ngClass]="{'not-allowed': !testName.length}" data-toggle="tab" href="#tasks"><span *ngIf="!isEditMode">3. </span>{{ "tasks" | translate }}</a></li>
      <li [ngClass]="{'not-allowed': !testName.length}"><a [ngClass]="{'not-allowed': !testName.length}" data-toggle="tab" href="#messages"><span *ngIf="!isEditMode">4. </span>{{ "messages" | translate }}</a></li>
      <li *ngIf="!isEditMode" [ngClass]="{'not-allowed': !testName.length}"><a [ngClass]="{'not-allowed': !testName.length}" data-toggle="tab" href="#finish"><span *ngIf="!isEditMode">5. </span>{{ "finish" | translate }}</a></li>
    </ul>

    <div class="tab-content">

      <div id="settings" class="mt-30 tab-pane fade in active">
        <p>{{ "studytitle" | translate }} *</p>
        <input [(ngModel)]="testName" type="text">
        <div>
          <p style="display: inline-block" class="mt-20">{{ "studypassword" | translate }}</p><span style="padding-left: 5px;" data-toggle="tooltip" title="Set a study password to protect your study. Users will have to enter this password before starting the tree test." class="glyphicon glyphicon-question-sign"></span>
        </div>
        <input [(ngModel)]="studyPassword" type="text">
        <div class="mt-20">
          <input type="checkbox" id="leaf-nodes" [checked]="leafNodes"
          (change)="leafNodes = !leafNodes">{{ "leafnodes" | translate }}
          <span style="padding-left: 5px;" data-toggle="tooltip" title="If this option is checked, users will be able to select  leaf nodes only in the information hierarchy tree." class="glyphicon glyphicon-question-sign"></span>
          <br>
          <input type="checkbox" id="order-numbers" [checked]="orderNumbers"
          (change)="orderNumbers = !orderNumbers" /> {{ "tasknumbers" | translate }}
          <span style="padding-left: 5px;" data-toggle="tooltip" title="If this option is checked, users will see task number while doing a tree test." class="glyphicon glyphicon-question-sign"></span>
        </div>
        <p class="mt-20">{{ "studyurl" | translate }}</p>
        <small>{{ "link" | translate }}</small>
        <div>
          <span style="background-color: lightgray">{{baseurl}}/#/test/{{randomTestId}}</span>
        </div>
        <div style="margin-top: 10px"><small>* {{ "requiredfield" | translate }}</small></div>
        <button *ngIf="!isEditMode" [disabled]="!testName.length" type="button" class="btn btn-primary mt-30" (click)="open('tree');">{{ "nextstep" | translate }}</button>
        <button *ngIf="isEditMode" type="button" class="btn btn-primary mt-30" (click)="saveTest(false);">{{ "save" | translate }}</button>
        <button *ngIf="isEditMode" type="button" class="btn btn-primary mt-30" (click)="cancel();">{{ "cancel" | translate }}</button>
      </div>


      <div id="tree" class="mt-30 tab-pane fade">
        <p>{{ "csv" | translate }}</p>
        <div class="color-red" *ngIf="tasks.length">
          {{ "treecant" | translate }}
        </div>
        <div class="mt-10 mb-10">
          <button [disabled]="tasks.length" type="button" class="btn btn-primary mr-5" (click)="addNode()">{{
            "addnode" |
                  translate }}</button>
          <button [disabled]="tasks.length" type="button" class="btn btn-primary mr-5" (click)="renameNode()">{{ "rename" | translate }}</button>
          <button [disabled]="tasks.length" type="button" class="btn btn-primary" (click)="deleteSelectedNode()">{{ "delete" | translate }}</button>

          <button type="button" class="btn btn-primary" (click)="fileInput.click()">{{ "importcsv" | translate }}</button>
          <input style="display: none;" type="file" id="file" #fileInput (change)="onFileSelect($event.target)">

        </div>
        <div [ngClass]="{'tree-disabled': tasks.length}" id="test-tree"></div>
        <button *ngIf="!isEditMode" type="button" class="btn btn-primary mt-30" (click)="open('tasks');">{{ "nextstep" | translate }}</button>
        <button *ngIf="isEditMode" type="button" class="btn btn-primary mt-30" (click)="saveTest(false);">{{ "save" | translate }}</button>
        <button *ngIf="isEditMode" type="button" class="btn btn-primary mt-30" (click)="cancel();">{{ "cancel" | translate }}</button>
      </div>


      <div id="tasks" class="mt-30 tab-pane fade">
        <div class="col-sm-4">
          <p>{{ "tasks" | translate }}</p>

          <div class="color-red" *ngIf="isLocked">
            {{ "taskscant" | translate }}
          </div>

          <div *ngFor="let t of tasks; let i = index;" class="row mt-30">
            <div (click)="setIndex(i)" [ngClass]="{'selected-task': i === currentTaskIndex}" class="task col-sm-12">
              <div class="pull-left mt-10">{{i+1}}.</div>
              <span *ngIf="!isLocked" (click)="deleteTask(i)" class="mt-10 pointer pull-right glyphicon glyphicon-trash"></span>
              <textarea [disabled]="isLocked" (click)="setIndex(i)" class="mt-10" rows="4" placeholder="Where would you expect to find ... ?" [(ngModel)]="tasks[i].text">
              </textarea>
              <div *ngIf="!tasks[i].answer" class="mb-10">{{ "selectcorrect" | translate }}</div>
              <div *ngIf="tasks[i].answer" class="mb-10">{{ "selectedanswer" | translate }}: <b>{{tasks[i].answer}}</b></div>
            </div>
          </div>
          <button [disabled]="isLocked" type="button" class="mt-20 btn btn-primary" (click)="addTask()">{{ "addtask" | translate }}</button>

          <div>
            <button [disabled]="isLocked" *ngIf="!isEditMode" type="button" class="btn btn-primary mt-30" (click)="open('messages');">{{ "nextstep" | translate }}</button>
            <button [disabled]="isLocked" *ngIf="isEditMode" type="button" class="btn btn-primary mt-30" (click)="saveTest(false);">{{ "save" | translate }}</button>
            <button type="button" class="btn btn-primary mt-30" (click)="cancel();">{{ "cancel" | translate }}</button>
          </div>
        </div>
        <div class="col-sm-6 col-sm-offset-1">
          <div style="padding: 5px; border: 1px solid lightgray;">
            <div id="test-tree-answer"></div>
          </div>
        </div>
      </div>

      <div id="messages" class="mt-30 tab-pane fade">

          <p class="mt-30">{{ "welcomemessage" | translate }}</p>
          <textarea style="width: 300px" class="mt-10" rows="4"  [(ngModel)]="welcomeMessage">
          </textarea>

          <p class="mt-30">{{ "instructions" | translate }}</p>
          <textarea style="width: 300px" class="mt-10" rows="4"  [(ngModel)]="instructions">
          </textarea>

          <p class="mt-30">{{ "thankyoumessage" | translate }}</p>
          <textarea style="width: 300px" class="mt-10" rows="4"  [(ngModel)]="thankYouScreen">
          </textarea>

          <p class="mt-30">{{ "leavefeedbackmessage" | translate }}</p>
          <textarea style="width: 300px" class="mt-10" rows="4"  [(ngModel)]="leaveFeedback">
          </textarea>


          <div>
              <button *ngIf="!isEditMode" type="button" class="btn btn-primary mt-30" (click)="open('finish');">{{ "nextstep" | translate }}</button>
              <button *ngIf="isEditMode" type="button" class="btn btn-primary mt-30" (click)="saveTest(false);">{{ "save" | translate }}</button>
              <button *ngIf="isEditMode" type="button" class="btn btn-primary mt-30" (click)="cancel();">{{ "cancel" | translate }}</button>
          </div>
      </div>


      <div id="finish" class="mt-30 tab-pane fade">
         <h1>{{testName}}</h1>
          <p class="footnote">{{ "studytitle" | translate }}</p>

          <h3>{{ "tasks" | translate}}</h3>
          <div *ngIf="tasks.length == 0">
            <p>No tasks added. <a [routerLink]="[]" (click)="open('tasks');">Add tasks</a></p>
          </div>
          <div *ngIf="tasks.length > 0" >
            <div *ngFor="let t of tasks; let i = index;">
              <div>
                <p>{{tasks[i].text}}<br>{{tasks[i].answer}}</p>
              </div>
            </div>
          </div>

          <hr />

          <div>{{ "studysaved" | translate }}</div>
          <div>{{ "studysaved1" | translate }}</div>
          <button type="button" class="btn btn-primary mt-30" (click)="saveTest(false);">{{ "create" | translate }}</button>
          <button type="button" class="btn btn-primary mt-30" (click)="cancel();">{{ "cancel" | translate }}</button>
      </div>


    </div>
  </div>
</div>
