/* You can add global styles to this file, and also import other style files */

/* Fix mdbootstrap global accessability styles */
.btn:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: 0;
}


html, body, app-root {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
}

.diamond-page {
  flex: 1 0 auto;
}

.diamond-footer {
  padding-top: 1em;
  padding-bottom: 0.5em;
  flex-shrink: 0;
}




