<div class="container-fluid mt-30">
  <div [hidden]="study === undefined" *ngIf="!tests.length" class="col-sm-offset-1 col-sm-10">
    <button *ngIf="study" [routerLink]="['/create-tree-test/' + study.id]" class="pull-right btn btn-primary">{{ "edittreestudy" | translate }}</button>
    {{ "noparticipants" | translate }}
  </div>
  <div [hidden]="!tests.length" class="col-sm-offset-1 col-sm-10">
    <button *ngIf="study" [routerLink]="['/create-tree-test/' + study.id]" class="pull-right btn btn-primary">{{ "edittreestudy" | translate }}</button>
    <h3>{{ "treeteststudy" | translate }}</h3>
    <h4 *ngIf="study">{{study.name}}</h4>
    <ul class="nav nav-tabs mt-50">
      <li class="active"><a data-toggle="tab" href="#overview">{{ "overview" | translate }}</a></li>
      <li><a data-toggle="tab" href="#participants">{{ "participants" | translate }}</a></li>
      <li><a data-toggle="tab" href="#taskanalysis">{{ "taskanalysis" | translate }}</a></li>
      <li><a data-toggle="tab" href="#pathhistory">{{ "pathhistory" | translate }}</a></li>
      <li><a data-toggle="tab" href="#destinations">{{ "destinations" | translate }}</a></li>
    </ul>

    <div class="tab-content">

      <div id="overview" class="mt-30 tab-pane fade in active">
        <h4 class="mt-30">{{ "participants" | translate }}</h4>
        <hr>
        <div style="padding: 0" class="container mb-10">
          <div class="result-box">
              <div style="margin: 10px 0 0 10px;">{{ "completion" | translate }}</div>
              <hr>
              <div class="text-center mt-30">
                {{ "completed" | translate }}: {{this.numberCompleted}} <br>
                {{ "abandoned" | translate }}: {{this.numberLeft}}
              </div>
              <!-- <canvas id="completion" class="mb-10"></canvas> -->
          </div>
          <div class="time-result result-box">
              <div style="margin: 10px 0 0 10px;">{{ "timetaken" | translate }}</div>
              <hr>
              <div class="text-center mt-30">{{ "timeusersneeded" | translate }}</div>
              <h2 class="text-center mt-30">
                <b>{{averageSecondsByUser}}</b> {{ "seconds" | translate }}
              </h2>

              <div class="text-center mt-30">
                {{ "thelongest" | translate }} {{longestSeconds}} {{ "seconds" | translate }} <span *ngIf="tests.length > 1">{{ "theshortest" | translate }} {{shortestSeconds}} {{ "seconds" | translate }}.</span>
              </div>
              <!-- {{totalSecondsTaken}}
              {{averageSecondsByUser}} -->
              <canvas id="completion" class="mb-20"></canvas>
          </div>
        </div>
        <h4 class="mt-30">{{ "tasks" | translate }}</h4>
        <hr>
        <div style="padding: 0" class="container mb-10">
          <div class="result-box">
              <div style="display: inline-block; margin: 10px 0 0 10px;" >{{ "success" | translate }}</div>
              <span style="padding-left: 5px;" data-toggle="tooltip" title="The success rate indicates the percentage of users who eventually&#10;(possibly with deviations from the direct path) managed to find&#10;where in the tree the correct answer is located." class="glyphicon glyphicon-question-sign"></span>
              <hr>
              <div style="margin: 30px 10px 10px 10px;" class="progress">
                <div class="progress-bar  progress-bar-success" role="progressbar" [ngStyle]="{'width': percentageCorrect + '%'}">{{percentageCorrect}}%</div>
              </div>
                <div style="margin: 30px 10px 10px 10px;">{{ "success1" | translate }}</div>
                <div style="margin: 30px 10px 10px 10px;">{{ "success2" | translate }}, {{percentageCorrect}}% {{ "success3" | translate }}</div>
          </div>
          <div class="time-result result-box">
            <div style="display: inline-block; margin: 10px 0 0 10px;" class="mt-10" >{{ "directness" | translate }}</div>
            <span style="padding-left: 5px;" data-toggle="tooltip" title="The directness rate measures how many users selected the path&#10;to the correct answer without deviations, i.e. without navigating&#10;back in the tree in order to reconsider a decision." class="glyphicon glyphicon-question-sign"></span>
              <hr>
              <div style="margin: 30px 10px 10px 10px;" class="progress">
                <div class="progress-bar  progress-bar-info" role="progressbar" [ngStyle]="{'width': percentageDirect + '%'}">{{percentageDirect}}%</div>
              </div>
                <div style="margin: 30px 10px 10px 10px;">{{ "directness1" | translate }}</div>
                <div style="margin: 30px 10px 10px 10px;">{{ "success2" | translate }}, {{percentageDirect}}% {{ "directness2" | translate }}</div>
          </div>
        </div>
      </div>

      <!-- Participants Tab. -->
      <div id="participants" class="mt-30 tab-pane fade">

        <p>{{ "excludedparticipants" | translate }}</p>
        <p>{{numberIncludedParticipants}} {{"participants" | translate}} ({{totalParticipants}} {{"totalWith" | translate}} {{totalParticipants - numberIncludedParticipants}} {{"excluded" | translate}})</p>
        <button type="button" class="btn btn-warning"  (click)="exportcsv()">{{ "exportcsv" | translate }}</button>

        <table *ngIf="tests.length && study" class="participants table table-bordered mt-30">
          <thead>
            <tr>
              <th>Name</th>
              <th>{{ "dateandtime" | translate }}</th>
              <th>{{ "duration" | translate }} [s]</th>
              <th style="text-align: center">{{ "taskscompleted" | translate }}<br>({{ "outof" | translate }} {{study.tasks.length}})</th>
              <th style="text-align: center">{{ "tasksskipped" | translate }}<br>({{ "outof" | translate }} {{study.tasks.length}})</th>
              <th style="text-align: center">{{ "taskscorrect" | translate }}<br>({{ "outof" | translate }} {{study.tasks.length}})</th>
              <th>Feedback</th>
              <th>{{ "exclude" | translate }}</th>
              <th>{{ "delete" | translate }}</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let result of tests; let j = index;" [ngClass]="{'exclude': result.excluded === true}">
                  <td>{{result.username}}</td>
                  <td>{{result.timestamp}}</td>
                  <td class="text-right" style="padding-right: 10px">{{getDuration(result)}}</td>
                  <td class="text-right" style="padding-right: 10px">{{getCompletedTasks(result.results)}}</td>
                  <td class="text-right" style="padding-right: 10px">{{getSkippedTasks(result.results)}}</td>
                  <td class="text-right" style="padding-right: 10px">{{getCorrectTasks(result.results)}}</td>
                  <td>{{result.feedback}}</td>
                  <td class="text-center" >
                      <button *ngIf="!result.excluded" class="btn btn-primary" (click)="excludeParticpant(result, j)">Exclude</button>
                      <button *ngIf="result.excluded" class="btn btn-primary" (click)="includeParticipant(result, j)">Include</button>
<!--                      <input type="checkbox" [checked]="result.exclude" [(ngModel)]="result.exclude" (click)="updateResultParticipants(j)">-->
                  </td>
                  <td class="text-center">
                      <button type="button" class="btn btn-danger"  data-toggle="modal" data-target="#myModal10" (click)="deleteParticipantResultIndex = j">{{ "delete" | translate }}</button>
                    </td>
              </tr>
          </tbody>
        </table>


      </div>

       <!-- Task Analysis Tab. -->
      <div id="taskanalysis" class="mt-30 tab-pane fade">
        <div *ngFor="let t of tasks; let i = index;" class="row mt-30">
          <div class="task-analysis-box">
            {{i+1}}. {{study.tasks[i].text}}

            <!-- correctness -->
            <div class="row mt-20">
              <div class="col-sm-5">
                <div style="display: inline-block">{{ "success" | translate }}</div>
                  <span style="padding-left: 5px;" data-toggle="tooltip" title="The success rate indicates the percentage of users who eventually &#10;(possibly with deviations from the direct path) managed to find &#10;where in the tree the correct answer is located." class="glyphicon glyphicon-question-sign"></span>
                  <div class="bar-container">
                  <div class="progress bar-width">
                    <div class="progress-bar  progress-bar-success" role="progressbar" [ngStyle]="{'width': t.percentageCorrect + '%'}">
                    </div>
                  </div>
                    <div class="percentage">
                        {{t.percentageCorrect}}% ({{t.directSuccess + t.indirectSuccess}} {{"outOf" | translate}} {{numberIncludedParticipants}})
                    </div>
                  </div>
              </div>
            </div>

            <!-- directness -->
            <div class="row mt-20">
                <div class="col-sm-5">
                <div style="display: inline-block">{{ "directness" | translate }}</div>
                <span style="padding-left: 5px;" data-toggle="tooltip" title="The directness rate measures how many users selected the path &#10;to the correct answer without deviations, i.e. without navigating &#10;back in the tree in order to reconsider a decision." class="glyphicon glyphicon-question-sign"></span>
                <div class="bar-container">
                    <div class="progress bar-width">
                        <div class="progress-bar  progress-bar-info" role="progressbar" [ngStyle]="{'width': t.percentageDirect + '%'}"></div>
                    </div>
                    <div class="percentage">{{t.percentageDirect}}% ({{t.directSuccess + t.directFailure}} {{"outOf" | translate}} {{numberIncludedParticipants}})</div>
               </div>

            </div>
            </div>

            <!-- first click statistics -->
            <!-- TODO: add translations -->
            <div class="row mt-20">
              <div class="col-sm-5">
                <div style="display: inline-block">{{"firstclick" | translate}}</div>
                  <span style="padding-left: 5px;" data-toggle="tooltip" title="First click represents the tree element that had been selected by most participants for their first selection." class="glyphicon glyphicon-question-sign"></span>
                  <div> <span class="first-clicked-node-text">"{{firstClicks[i][0]}}"</span></div>
                  <div class="bar-container">
                  <div class="progress bar-width">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{'width': firstClicks[i][2] + '%'}"></div>
                  </div>
                    <div class="percentage">
                        {{firstClicks[i][2]}}% ({{firstClicks[i][1]}} {{"outOf" | translate}} {{numberIncludedParticipants}})
                    </div>
                  </div>
              </div>
            </div>

            <!-- <button type="button" class="btn btn-warning"  data-toggle="modal" data-target="#pathTree" (click)="preparePathTree(i)">Path Tree</button> -->

            <button type="button" class="btn btn-primary"  (click)="openPathTree(i)">{{"pathtree" | translate}}</button>
          </div>

        </div>
      </div>

       <!-- Path History Tab. -->
      <div id="pathhistory" class="mt-30 tab-pane fade">
        <div *ngFor="let t of tasks; let i = index;" class="row mt-30">
          <div class="task-analysis-box">
            {{i+1}}. {{study.tasks[i].text}}

            <!-- Path history. -->
            <div class="mt-20">{{"pathchosen" | translate}}</div>
            <table *ngIf="paths.length && study" class="participants table table-bordered mt-5">
              <thead>
                <tr>
                  <th>{{"name" | translate}}</th>
                  <th>{{"path" | translate}}</th>

                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let participant of paths; let j = index;">
                      <td>{{participant.name}}</td>
                      <td>

                        <ng-container *ngFor="let path of participant.paths[i]; let m = index;">
                          <ng-container *ngIf="path.direction === 'in'"><span class="path-history-arrow">&gt;</span></ng-container>
                          <ng-container *ngIf="path.direction === 'out'"><span class="path-history-arrow">&lt;</span></ng-container>
                          <ng-container *ngIf="m === participant.paths[i].length - 1"><span class="path-history-final-click">{{path.node.data.text}}</span></ng-container>
                          <ng-container *ngIf="m !== participant.paths[i].length - 1">{{path.node.data.text}}</ng-container>

                        </ng-container>

                      </td>

                  </tr>
              </tbody>
            </table>

          </div>

        </div>
      </div>

       <!-- Destinations Tab. -->
      <div *ngIf="study" id="destinations" class="mt-30 tab-pane fade">
        <div class="mt-10 mb-10">{{ "tasks" | translate }}:</div>
        <div *ngFor="let t of study.tasks; let i = index;">
          <b>{{i+1}}.</b> {{t.text}}
        </div>
        <div class="mt-30">{{ "destinationsexplanation" | translate }}</div>
        <div class="mt-20">
          <div style="vertical-align: middle; display: inline-block; width: 15px; height: 15px; background-color: rgba(161,212,36,0.7)"></div><div style="display: inline-block; padding-left: 5px; vertical-align: middle">{{ "correct" | translate }}</div>

          <div style="margin-left: 25px !important; vertical-align: middle; display: inline-block; width: 15px; height: 15px; background-color: rgba(245,98,0,0.7)"></div><div style="display: inline-block; padding-left: 5px; vertical-align: middle">{{ "incorrect" | translate }} (<20% {{ "ofallanswers" | translate }})</div>

          <div style="margin-left: 25px; vertical-align: middle; display: inline-block; width: 15px; height: 15px; background-color: rgba(218,31,71,0.7)"></div><div style="display: inline-block; padding-left: 5px; vertical-align: middle">{{ "incorrect" | translate }} (>20% {{ "ofallanswers" | translate }})</div>
        </div>
        <button type="button" class="mt-30 btn btn-warning"  (click)="exportDestinationsCSV()">{{ "exportcsv" | translate }}</button>
        <button type="button" class="mt-30 btn btn-primary"  (click)="toggleIrrelevantItems()">
            {{ (irrelevantItemsCollapsed ? "expand" : "collapse") | translate }}
        </button>

        <table *ngIf="tests.length" class="table table-bordered mt-30">
          <thead>
            <tr>
              <th style="width: 350px"></th>
              <th class="text-center" style="width: 25px" *ngFor="let t of study.tasks; let i = index;">{{i+1}}</th>
            </tr>
          </thead>
          <tbody>
              <ng-container *ngFor="let item of treemap.getDepthFirstArray(); let j = index;" >
                  <tr *ngIf="!irrelevantItemDisabled(item)">
                      <td *ngIf="item.data.data" [style.padding-left.px]="item.data.data.index*25 + 5">{{item.data.text}}</td>
                      <td *ngIf="!item.data.data">{{item.data.text}}</td>
                      <td class="text-center" *ngFor="let task of destinations; let k = index;">
                          <div  [ngStyle]="{ 'background-color' : getBackgroundColor(k, j, task[item.data.id], item.data.id)}">{{task[item.data.id]}}</div>
                      </td>
                  </tr>
              </ng-container>
          </tbody>
        </table>

      <table class="table table-bordered mt-30">
          <thead></thead>
          <tbody>
          <tr>
              <td class="skipped" style="width: 350px">{{"skipped" | translate}}</td>
              <td *ngFor="let task of tasks" class="text-center" style="width: 25px">{{task.skipped}}</td>
          </tr>
          </tbody>
      </table>
      </div>


    </div>
  </div>
</div>



<!-- Modal -->
<div id="pathTree" class="modal fade" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    PIE TREE
    <div id="pathtreesvg"></div>
    <button (click)="getSvg()">Get SVG link in console</button>
    <a id="link">download svg</a>
  </div>

</div>
</div>

<!-- Modal -->
<div id="myModal10" class="modal fade" role="dialog">
  <div style="max-width: 400px;" class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body text-center">
        <p>{{ "deleteparticipantresultsure" | translate }}</p>
      </div>
      <div style="padding-bottom: 10px;" class="text-center">
        <button type="button" class="btn btn-warning" (click)="prepareDeleteParticipantResult()">{{ "yes" | translate }}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ "no" | translate }}</button>
      </div>
    </div>

  </div>
</div>
