.participants th {
    padding: 15px;
}

.result-box {
    border: 1px solid gray;
    height: 280px;
    width: 100%;
}

.table {
    width: initial;
    max-width: initial;
}

.container {
    display: flex;
    max-width: 100%;
}
.table th {
    font-weight: 600;
}

table>tbody>tr>td {
    padding: 4px;
}

.task-analysis-box {
    border: 1px solid lightgray;
    margin-bottom: 30px;
    padding: 10px;
}

@media only screen and (min-width: 992px) {
.time-result {
    margin-left: 15px;
}
}
@media only screen and (max-width: 992px) {
    .time-result {
        margin-left: 0;
    }
    .result-box {
      margin-right: 15px;
      margin-bottom: 15px;
    }
    .container{
        flex-direction: column;
        align-items: center;
    }
    canvas {
        width: 100%;
        height: auto;
    }
}


body {
    font: 10px sans-serif;
  }
  
  .link {
    fill: none;
    stroke: #000;
  }
  
  .border {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #aaa;
  }
  
  .node {
    stroke: #fff;
    }

  .skipped{
      font-weight: bold;
  }
.spacer{
    height: 20px;
    border: none;
}

.bar-container{
    display: flex;
    max-width: 100%;
}
.bar-width{
    width: 70%;
}
.percentage{
    margin-left: 4px;
}
