.delete {
    position: absolute;
    opacity: 0.5;
    right: 0.7em;
    top: 1.5em;
    background: transparent;
    color: #FFFFFF;
    border: none;
}

.delete:hover{
    opacity: 1;
}

h2 { 
    text-align: center;
    color: #FFFFFF;
    padding-top: 10px;
    word-wrap: break-word;
    font-size: medium;
}

.card-container {
    background: #5b5b60;
    border-radius: 4px;
    max-width: 100%;
    vertical-align: top;
    margin-top: 1.5em;
}

.card-group {
    background: #001064;
    border-radius: 4px;
    max-width: 100%;
    vertical-align: top;
    margin-top: 1.5em;
}

.group {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: grid;
}

.card {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    text-align: center;
    word-break: break-all;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card:last-child {
    border: none;
}

.groups.cdk-drop-list-dragging .card:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dropdown {
    position: absolute;
    right: 20px;
    display: inline-block;
}

.dropdown-menu span {
    color: black;
    padding: 16px 20px;
    text-decoration: none;
    display: block;
    font-size: normal;
    text-align: left;
}

.dropdown-menu span:hover {
    border: 2px;
    border-color: lack;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .btn {
    background-color: white;
    color: black;
}

.add-group-link {
    background-color: lightgrey;
}

.btn-control {
    font-size: 80%;
    text-transform: initial !important;
}

.btn-move {
    font-size: 90%;
}


.dm-add-group-form .form-control {
    font-size: 90%;
    height: 30px;
}

.dm-btn-finish {
    float: right;
}

.dm-add-group-wrapper {
    float: left;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

.btn.disabled, .btn[disabled],
.btn.disabled:hover,
.btn:disabled:hover {
    box-shadow: none;
    opacity: 0.5;
}