<h1>Path Tree:</h1>

<a class="btn btn-primary" download="download" id="link">{{ "downloadsvg" | translate }}</a>


<div class="chart-inputs">
    <div class="chart-input">
        <label for="margin-top">Margin-Top:</label>
        <input type="number" min="0" max="400" [value]="margin.top" id="margin-top" (change)="onMarginChange($event)"/>
    </div>
    <div class="chart-input">
        <label for="margin-right">Margin-Right:</label>
        <input type="number" min="0" max="400" [value]="margin.right" id="margin-right" (change)="onMarginChange($event)">
    </div>
    <div class="chart-input">
        <label for="margin-bottom">Margin-Bottom:</label>
        <input type="number" min="0" max="400" [value]="margin.bottom" id="margin-bottom" (change)="onMarginChange($event)">
    </div>
    <div class="chart-input">
        <label for="margin-left">Margin-Left:</label>
        <input type="number" min="0" max="400" [value]="margin.left" id="margin-left" (change)="onMarginChange($event)">
    </div>
    <div class="chart-input">
        <label for="font-size">Font-Size:</label>
        <input type="number" min="0" max="30" [value]="fontSize" id="font-size" (change)="onFontSizeChange($event)">
    </div>
    <div class="chart-input slider">
        <label for="font-size">Node Spacing: {{nodeDistributionDisplay}}</label>
        <input type="range" min="0" max="1802" [value]="nodeDistribution" id="node-distribution" (input)="onNodeDistribution($event)">
    </div>
</div>


<div class="chart-checkboxes">
    <div class="chart-checkbox">
        <label for="toggle-border">Margin Borders:</label>
        <input type="checkbox" [checked]="showMarginBorders" [value]="margin.top" id="toggle-border" (change)="onShowMarginBorders($event)"/>
    </div>
    <div class="chart-checkbox">
        <label for="chart-orientation">Flipped:</label>
        <input type="checkbox" [checked]="flipped" [value]="margin.top" id="chart-orientation" (change)="onFlipped($event)"/>
    </div>
</div>


<div id="pathtreesvg"></div>
