:host {
    display: block;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

:host #link {
    font-size: 1.5rem;
    text-transform: none;
    position: absolute;
    top: 0;
    right: 0;
}

:host .chart-inputs, :host .chart-checkboxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, 13rem);
    width: 100%;
    column-gap: 5rem;
    row-gap: 1rem;
    margin: 0 0.375rem;
    margin-top: 1.5rem;
}

:host .chart-checkboxes .chart-checkbox {
    display: flex;
    align-items: center;
}

:host .chart-checkboxes label {
    margin-bottom: 0;
    margin-right: 1rem;
}

:host .chart-inputs .chart-input {
    width: 100%;
}

:host .chart-inputs .chart-input input {
    width: 100%;
}


:host #pathtreesvg {
    margin: 0 auto;
    margin-top: 2rem;
    margin-left: 0.375rem;
    height: 70vh;
    max-width: calc(6 * 13rem + 5 * 5rem);
}

:host ::ng-deep #pathtreesvg #mysvg {
    margin: 0 auto;
    max-height: 100%;
    width: auto;
}

