:host {
    display: block;
    width: 90%;
    margin: 0 auto;
}

:host #pathtreesvg {
    margin: 0 auto;
    max-width: 80vw;
    height: 73vh;
}

:host ::ng-deep #pathtreesvg #mysvg {
    margin: 0 auto;
    max-height: 100%;
    width: auto;
}

:host .chart-inputs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    margin: 0 0.375rem;
    margin-top: 1rem;
}

:host #link {
    font-size: 1.5rem;
    text-transform: none;
}

:host .chart-inputs .chart-input {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 20%;
    min-width: 10rem;
}
/*:host ::ng-deep svg text {*/
/*    font-size: 10px;*/
/*}*/
