<div class="container-fluid mt-30">
    <div [hidden]="study === undefined" *ngIf="!tests.length" class="col-sm-offset-1 col-sm-10">
      <button *ngIf="study" [routerLink]="['/create-card-sort/' + study.id]" class="pull-right btn btn-primary">{{ "editcardstudy" | translate }}</button>
      {{ "noparticipants" | translate }}
    </div>
    <div [hidden]="!tests.length" class="col-sm-offset-1 col-sm-10">
      <button *ngIf="study" [routerLink]="['/create-card-sort/' + study.id]" class="pull-right btn btn-primary">{{ "editcardstudy" | translate }}</button>
      <h3>{{ "cardsortstudy" | translate }}</h3>
      <h4 *ngIf="study">{{study.name}}</h4>
      <ul class="nav nav-tabs mt-50">
        <li class="active"><a data-toggle="tab" href="#overview">{{ "overview" | translate }}</a></li>
        <li><a data-toggle="tab" href="#participants">{{ "participants" | translate }}</a></li>
      </ul>

      <div class="tab-content">

        <div id="overview" class="mt-30 tab-pane fade in active">
          <h4 class="mt-30">{{ "participants" | translate }}</h4>
          <hr>
          <div style="padding: 0" class="container-fluid">
            <div class="result-box col-md-4 col-sm-6">
                <div class="mt-10">{{ "completion" | translate }}</div>
                <hr>
                {{ "completed" | translate }}: {{this.numberCompleted}} <br>
                {{ "abandoned" | translate }}: {{this.numberLeft}}
                <!-- <canvas id="completion" class="mb-10"></canvas> -->
            </div>
            <!--
            <div class="time-result result-box col-md-4 col-sm-6">
                <div class="mt-10">{{ "timetaken" | translate }}</div>
                <hr>
                <div class="text-center mt-30">{{ "timeusersneeded" | translate }}</div>
                <h2 class="text-center mt-30">
                  <b>{{averageSecondsByUser}}</b> {{ "seconds" | translate }}
                </h2>

                <div class="text-center mt-30">
                  {{ "thelongest" | translate }} {{longestSeconds}} {{ "seconds" | translate }} <span *ngIf="results.length > 1">{{ "theshortest" | translate }} {{shortestSeconds}} {{ "seconds" | translate }}.</span>
                </div>
                <canvas id="completion" class="mb-20"></canvas>
            </div>
            -->
          </div>
        </div>


        <div id="participants" class="mt-30 tab-pane fade">
          <div *ngIf="!showingMatrix">

            <p>{{ "excludedparticipants" | translate }}</p>
            <p>{{numberIncludedParticipants}} {{"participants" | translate}} ({{totalParticipants}} {{"totalWith" | translate}} {{totalParticipants - numberIncludedParticipants}} {{"excluded" | translate}})</p>
            <button type="button" class="btn btn-warning"  (click)="exportUserData()">{{ "exportuserdata" | translate }}</button>

            <button type="button" class="btn btn-warning"  (click)="exportUserDataTransposed()">{{ "exportuserdatatransposed" | translate }}</button>

            <button type="button" class="btn btn-warning"  (click)="exportSortingData()">{{ "exportsortingdata" | translate }}</button>

            <button type="button" class="btn btn-warning"  (click)="exportSortingDataTransposed()">{{ "exportsortingdatatransposed" | translate }}</button>

            <table *ngIf="tests.length && study" class="participants table table-bordered mt-30">

              <thead>
                <tr>
                  <th>Name</th>
                  <th>{{ "dateandtime" | translate }}</th>
                  <!--
                  <th>{{ "duration" | translate }} [s]</th>
                  -->
                  <th>{{ "explanation" | translate }}</th>
                  <th>Feedback</th>
                  <th>{{ "exclude" | translate }}</th>
                  <th>{{ "viewresults" | translate }}</th>
                  <th>{{ "delete" | translate }}</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let result of tests; let j = index;" [ngClass]="{'exclude': result.excluded === true}">
                  <td>{{result.username}}</td>
                  <td>{{result.timestamp}}</td>
                  <!--
                  <td class="text-right" style="padding-right: 10px">{{getDuration(result)}}</td>
                  -->
                  <td>{{result.mindset}}</td>
                  <td>{{result.feedback}}</td>
                  <td class="text-center">
                    <button *ngIf="!result.excluded" class="btn btn-primary" (click)="excludeParticpant(result, j)">Exclude</button>
                    <button *ngIf="result.excluded" class="btn btn-primary" (click)="includeParticipant(result, j)">Include</button>
<!--                    <input type="checkbox" [checked]="result.exclude" [(ngModel)]="result.exclude" (click)="updateResultParticipants(j)">-->
                  </td>
                  <td class="text-center">
                      <button type="button" class="btn btn-primary" (click)="showResultMatrix(result)">{{ "viewresults" | translate }}</button>
                  </td>
                  <td class="text-center">
                      <button type="button" class="btn btn-danger"  data-toggle="modal" data-target="#myModal10" (click)="deleteParticipantResultIndex = j">{{ "delete" | translate }}</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <tr *ngFor="let result of tests; let j = index;">
            <div *ngIf="result.showing">
              <app-result-matrix [result]="result" (output)="closeResultMatrix()"></app-result-matrix>
            </div>
          </tr>

        </div>
      </div>
    </div>
  </div>


<!-- Modal -->
<div id="myModal10" class="modal fade" role="dialog">
    <div style="max-width: 400px;" class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body text-center">
          <p>{{ "deleteparticipantresultsure" | translate }}</p>
        </div>
        <div style="padding-bottom: 10px;" class="text-center">
          <button type="button" class="btn btn-warning" (click)="prepareDeleteParticipantResult()">{{ "yes" | translate }}</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">{{ "no" | translate }}</button>
        </div>
      </div>

    </div>
  </div>
