<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <img routerLink="/tests" style="float: left; width: 25px; margin-top: 11px;
    margin-right: 5px;" src="../../assets/icon.png" aria-labelledby="Diamond Icon"/>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="/tests" class="navbar-brand">Diamond</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" *ngIf="authService.isAdmin() || authService.userCan('studyAccess')">
        <li routerLink="/tests" class="pointer"><a [class]="treeHighlighted">{{ "TreeTest Studies" | translate }}</a></li>
        <li routerLink="/card-sort-tests" class="pointer"><a [class]="cardHighlighted">{{ "CardSort Studies" | translate }}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="authService.isAdmin()" class="pointer" routerLink="/admin"><a>Admin Panel</a></li>
        <li *ngIf="authService.isLoggedIn()"><p class="navbar-text">{{authService.getCurrentUser().email}}</p></li>
        <li [class.dm-active-lang]="isCurrentLang('en')">
          <a href="#" (click)="changeLanguage('en', $event)">EN</a>
        </li>
        <li [class.dm-active-lang]="isCurrentLang('de')">
          <a href="#" (click)="changeLanguage('de', $event)">DE</a>
        </li>
        <li *ngIf="authService.isLoggedIn()">
          <a href="#" (click)="logout()">{{ "logout" | translate }}</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
