<mat-toolbar color="primary">

  <button mat-icon-button>
    <img src="/assets/logo.png">
  </button>

  <span class="dia-app-title">Diamond</span>

  <nav *ngIf="mainNavMenuItems" class="dia-main-nav">
    <a *ngFor="let navItem of mainNavMenuItems" mat-button routerLinkActive="dia-active-link" [routerLink]="navItem.path">{{navItem.label}}</a>
  </nav>

  <span class="dia-spacer"></span>

  <nav *ngIf="secondaryNavMenuItems" class="dia-main-nav">
    <a *ngFor="let navItem of secondaryNavMenuItems" mat-button routerLinkActive="dia-active-link" [routerLink]="navItem.path">{{navItem.label}}</a>
  </nav>

  <!-- TODO: Language Selector in separate component -->
  <nav>
    <button mat-button>EN</button>
    <button mat-button>DE</button>
  </nav>

  <nav *ngIf="isLoggedIn()">
    <button mat-button (click)="logout()">Logout</button>
  </nav>

</mat-toolbar>
