<div *ngIf="!study" class="text-center">
  <div *ngIf="password">
    <div>{{ "enterpassword" | translate }}</div>
    <input (keyup.enter)="preparePassword()" [(ngModel)]="enterPassword" type="text">
    <div>
      <button type="button" class="btn btn-primary" (click)="preparePassword()">OK</button>
    </div>
  </div>
</div>

<div *ngIf="study">
  <div *ngIf="isPreview" class="col-sm-offset-2 col-sm-8">
    <div class="alert alert-warning study-preview-info">
      <p>{{ "studyPreviewInfo" | translate }}</p>
      <a class="btn btn-primary" routerLink="/treetest-tests">Go Back To Treetest Studies</a>
    </div>
  </div>

  <div *ngIf="intro" class="col-sm-offset-2 col-sm-8">
    <h3 class="mt-20">{{ "welcome" | translate }}</h3>
    <p>{{study.welcomeMessage}}</p>
    <h3 class="mt-20">{{ "instructions" | translate }}</h3>
    <p style="margin-bottom: 4px;">{{study.instructions}}</p>
    <div class="mt-50">
      <p>{{ "yourname" | translate }}</p>
      <input (keyup.enter)="intro = false" type="text" [(ngModel)]="userName">
    </div>
    <button [disabled]="!userName.length" type="button" class="mt-10 btn btn-primary" (click)="intro = false">{{ "continue" | translate }}</button>
  </div>

  <div *ngIf="!intro" class="col-sm-offset-2 col-sm-8">
    <div *ngIf="study.tasks && study.tasks.length">
      <div *ngIf="!finished" class="row mt-30">
        <p *ngIf="taskIndex < study.tasks.length">
        <span *ngIf="study.orderNumbers">{{taskIndex + 1}} . </span>
          {{study.tasks[taskIndex].text}}</p>
        <button *ngIf="!doingTask" type="button" class="btn btn-primary" (click)="startTask(i)">{{ "starttask" | translate }}</button>
        <div [hidden]="!doingTask" id="study-tree"></div>
        <button *ngIf="doingTask" type="button" class="mt-20 btn btn-primary" (click)="submitFinalAnswer(i, true)">{{ "skip" | translate }}</button>
        <button style="margin-left: 5px;" *ngIf="doingTask && selectedAnswer" type="button" class="mt-20 btn btn-primary" (click)="submitFinalAnswer(i)">{{ "expect" | translate }}</button>
      </div>
      <div *ngIf="finished" class="row mt-30">
          <p>{{study.thankYouScreen}}</p>
          <p *ngIf="!feedbackDone" class="mt-50">{{study.leaveFeedback}}</p>
          <textarea *ngIf="!feedbackDone" [(ngModel)]="feedback" class="mt-10" cols="53" rows="4"></textarea>
          <div *ngIf="!feedbackDone">
            <button type="button" class="mt-10 btn btn-primary" (click)="sendFeedback()">{{ "sendfeedback" | translate }}</button>
          </div>
          <p *ngIf="feedbackDone">{{ "thanksforfeedback" | translate }}</p>
      </div>
    </div>
    <div *ngIf="!study.tasks || !study.tasks.length">
      {{ "notasks" | translate }}
    </div>
  </div>
</div>
