<div class="container-fluid mt-50">
    
    <div class="col-sm-offset-1 col-sm-10">
        <h3 *ngIf="!id">{{ "newcardstudy" | translate }}</h3>
        <h3 *ngIf="id">{{ "editcardstudy" | translate }}</h3>

        <ul class="nav nav-tabs mt-20">
            <li class="active"><a data-toggle="tab" href="#settings"><span *ngIf="!isEditMode">1. </span>{{ "settings" | translate }}</a></li>
            <li [ngClass]="{'not-allowed': !testName.length}"><a  [ngClass]="{'not-allowed': !testName.length}" data-toggle="tab" href="#cards"><span *ngIf="!isEditMode">2. </span>{{ "cards" | translate }}</a></li>
            <li [ngClass]="{'not-allowed': !testName.length}"><a [ngClass]="{'not-allowed': !testName.length}" data-toggle="tab" href="#messages"><span *ngIf="!isEditMode">3. </span>{{ "messages" | translate }}</a></li>
            <li *ngIf="!isEditMode" [ngClass]="{'not-allowed': !testName.length}"><a [ngClass]="{'not-allowed': !testName.length}" data-toggle="tab" href="#finish"><span *ngIf="!isEditMode">4. </span>{{ "finish" | translate }}</a></li>
        </ul>

        <div class="tab-content">

            <div id="settings" class="mt-30 tab-pane fade in active">
                <p>{{ "studytitle" | translate }} *</p>
                <input [(ngModel)]="testName" type="text">
                <div>
                    <p style="display: inline-block" class="mt-20">{{ "studypassword" | translate }}</p><span style="padding-left: 5px;" data-toggle="tooltip" title="Set a study password to protect your study. Users will have to enter this password before starting the card sorting." class="glyphicon glyphicon-question-sign"></span>
                </div>
                <input [(ngModel)]="studyPassword" type="text">
                <p class="mt-20">{{ "studyurl" | translate }}</p>
                <small>{{ "link" | translate }}</small>
                <div>
                    <span style="background-color: lightgray">{{baseurl}}/#/card-sort-test/{{randomTestId}}</span>
                </div>
                <div style="margin-top: 10px"><small>* {{ "requiredfield" | translate }}</small></div>
                <button *ngIf="!isEditMode" [disabled]="!testName.length" type="button" class="btn btn-primary mt-30" (click)="open('cards');">{{ "nextstep" | translate }}</button>
                <button *ngIf="isEditMode" type="button" class="btn btn-primary mt-30" (click)="saveTest(false);">{{ "save" | translate }}</button>
                <button *ngIf="isEditMode" type="button" class="btn btn-primary mt-30" (click)="cancel();">{{ "cancel" | translate }}</button>
            </div>


            <div id="cards" class="mt-30 tab-pane fade">
                <p>{{ "cardcsv" | translate }}</p>
                <div class="mt-10 mb-10">
                    <button type="button" class="btn btn-primary mr-5" (click)="addCard()">{{ "addcard" | translate }}</button>
                    <button type="button" class="btn btn-primary mr-5" (click)="renameCard()">{{ "rename" | translate }}</button>
                    <button type="button" class="btn btn-primary" (click)="deleteSelectedCard()">{{ "delete" | translate }}</button>
                                       
                    <button type="button" class="btn btn-primary" (click)="fileInput.click()">{{ "importcsv" | translate }}</button>
                    <input style="display: none;" type="file" id="file" #fileInput (change)="onFileSelect($event.target)">

                </div>
                <input class="cardName form-control" [(ngModel)]="cardName" type="text" (keyup.enter)="addCard()">
                <app-card-list [cards]="cards" (selectedEvent)="selectCard($event)"></app-card-list>
                <button *ngIf="!isEditMode" type="button" class="btn btn-primary mt-30" (click)="open('messages');">{{ "nextstep" | translate }}</button>
                <button *ngIf="isEditMode" type="button" class="btn btn-primary mt-30" (click)="saveTest(false);">{{ "save" | translate }}</button>
                <button *ngIf="isEditMode" type="button" class="btn btn-primary mt-30" (click)="cancel();">{{ "cancel" | translate }}</button>
            </div>

            <div id="messages" class="mt-30 tab-pane fade">

                <p class="mt-30">{{ "welcomemessage" | translate }}</p>
                <textarea style="width: 300px" class="mt-10" rows="4"  [(ngModel)]="welcomeMessage">
          </textarea>

                <p class="mt-30">{{ "instructions" | translate }}</p>
                <textarea style="width: 300px" class="mt-10" rows="4"  [(ngModel)]="instructions">
          </textarea>

                <p class="mt-30">{{ "explanation" | translate }}</p>
                <textarea style="width: 300px" class="mt-10" rows="4"  [(ngModel)]="explanation">
          </textarea>

                <p class="mt-30">{{ "thankyoumessage" | translate }}</p>
                <textarea style="width: 300px" class="mt-10" rows="4"  [(ngModel)]="thankYouScreen">
          </textarea>

                <p class="mt-30">{{ "leavefeedbackmessage" | translate }}</p>
                <textarea style="width: 300px" class="mt-10" rows="4"  [(ngModel)]="leaveFeedback">
          </textarea>


                <div>
                    <button *ngIf="!isEditMode" type="button" class="btn btn-primary mt-30" (click)="open('finish');">{{ "nextstep" | translate }}</button>
                    <button *ngIf="isEditMode" type="button" class="btn btn-primary mt-30" (click)="saveTest(false);">{{ "save" | translate }}</button>
                    <button *ngIf="isEditMode" type="button" class="btn btn-primary mt-30" (click)="cancel();">{{ "cancel" | translate }}</button>
                </div>
            </div>


            <div id="finish" class="mt-30 tab-pane fade">

                <h1>{{testName}}</h1>
                <p class="footnote">{{ "studytitle" | translate }}</p>

                <h3>{{ "cards" | translate}}</h3>
                <div *ngIf="cards.length == 0">
                    <p>No cards added. <a [routerLink]="" (click)="open('cards');">Add cards</a></p>
                </div>
                <div *ngIf="cards.length > 0" >
                    <div *ngFor="let c of cards">
                        <p>{{c}}</p>
                    </div>
                </div>

                <hr />

                <div>{{ "studysaved" | translate }}</div>
                <div>{{ "studysaved1" | translate }}</div>

                <button type="button" class="btn btn-primary mt-30" (click)="saveTest(false);">{{ "create" | translate }}</button>
                <button type="button" class="btn btn-primary mt-30" (click)="cancel();">{{ "cancel" | translate }}</button>

            </div>


        </div>
    </div>
</div>
