<div class="container-fluid mt-50">
  <div class="col-sm-offset-1">
    <p *ngIf="!authService.userCan('studyAccess') && !authService.isAdmin()">{{ "accountnotenabled" | translate }}</p>
    <h3 *ngIf="authService.userCan('studyAccess') || authService.isAdmin()">{{ "TreeTest Studies" | translate }}</h3>

    <div class="row">
      <div class="col-sm-9">
        <table *ngIf="studies && studies.length && (authService.userCan('studyAccess') || authService.isAdmin())" class="table table-bordered mt-50">
          <thead>
            <tr>
              <th style="width: 150px">Name</th>
              <th style="width: 300px;">URL</th>
              <th class="text-center">{{ "edit" | translate }}</th>
              <th class="text-center">{{ "copy" | translate }}</th>
              <th class="text-center">{{ "action" | translate }}</th>
              <th class="text-center">{{ "delete" | translate }}</th>
              <th class="text-center">{{ "preview" | translate }}</th>
              <th class="text-center">{{ "results" | translate }}</th>
              <th class="text-center">{{ "export" | translate }}</th>
              <th class="text-center">{{ "createdAT" | translate }}</th>
              <th class="text-center">{{ "lastLaunched" | translate }}</th>
              <th class="text-center">{{ "lastEnded" | translate }}</th>
              <th class="text-center">{{"participants" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of studies; let i = index;">
              <td><a [routerLink]="['/results/' + t.id]" class="pointer">{{t.name}}</a></td>
              <td>
                <input #myInput style="width: 250px; border: 1px solid lightgray; padding-left: 3px; display: inline-block;" type="text"
                [ngModel]="getLink(t.id)"
                >
                <i (click)="copyToClipboard(t.id); myInput.select();" class="glyphicon glyphicon-copy"></i></td>
              <td class="text-center">
                <button  [routerLink]="['/create-tree-test/' + t.id]" class="btn btn-primary"
                [disabled]="t.launched" ><span class="glyphicon glyphicon-pencil" style="padding-right: 5px;" ></span></button>
              </td>
              <td class="text-center">
                <button (click)="createCopy(t)" class="btn btn-primary">
                  {{ "new" | translate }}
                </button>
              </td>
              <td class="text-center">
                <button *ngIf="!t.launched" style="margin-left: 5px; width: 105px !important;" type="button"
                  class="btn btn-primary" (click)="launchTest(t.id)" [disabled]="!t.isLaunchable ? 'disabled' : null">
                  <span style="padding-right: 5px" class="glyphicon glyphicon-play"></span>
                  {{ "launch" | translate }}</button>
                <button *ngIf="t.launched" style="margin-left: 5px; width: 105px !important;" type="button"
                  class="btn btn-primary" (click)="stopTest(t.id)">
                  <span style="padding-right: 1px" class="glyphicon glyphicon-pause"></span>
                  {{ "endstudy" | translate }}</button>
              </td>
              <td class="text-center">
                <button type="button" class="btn btn-danger"  data-toggle="modal" data-target="#myModal" (click)="deleteTestId = t._id">
                  <span style="padding-right: 5px;" class="glyphicon glyphicon-trash"></span></button>
              </td>
              <td class="text-center">
                  <button type="button" class="btn btn-primary" (click)="launchPreview(t.id)">
                    <span style="padding-right: 5px" class="glyphicon glyphicon-eye-open"></span></button>
              </td>
              <td class="text-center">

                <button [routerLink]="['/results/' + t.id]" type="button" class="btn btn-primary">
                  <span style="padding-right: 5px" class="glyphicon glyphicon-book"></span></button>
            </td>

            <td class="text-center">
              <button type="button" class="btn btn-warning" (click)="export(t._id)">
                {{ "export" | translate }}</button>
            </td>
            <td>{{ t["createdDate"] | datePipe}}</td>
            <td>{{ t["lastLaunched"] | datePipe}}</td>
            <td>{{ t["lastEnded"] | datePipe }}</td>
            <td >{{ numberParticipants | participantsFilter:t.id}}</td>
            </tr>
          </tbody>
        </table>
      </div>
   </div>




    <div *ngIf="authService.userCan('studyAccess') || authService.isAdmin()" class="study-action-buttons">
      <div>
        <button style="margin-top: 30px; margin-bottom: 30px;" type="button" class="btn btn-primary" routerLink="/create-tree-test">{{ "createstudy" | translate }}</button>
      </div>
      <div>
        <button type="button" class="btn btn-primary" (click)="fileInput.click()">{{ "importstudy" | translate }}</button>
        <p class="hint">{{ "maxfilesize" | translate }} {{ maxRequestPayloadSize }}</p>
        <input style="display: none;" type="file" id="file" #fileInput (change)="onFileSelect($event.target)">
      </div>
    </div>
</div>

<div id="copyboardtest"></div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div style="max-width: 400px;" class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body text-center">
        <p>{{ "deletestudysure" | translate }}</p>
      </div>
      <div style="padding-bottom: 10px;" class="text-center">
        <button type="button" class="btn btn-warning" (click)="prepareDeleteStudy()">{{ "yes" | translate }}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ "no" | translate }}</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Saving Successful -->
<div id="success" class="modal fade" role="dialog">
  <div style="max-width: 400px;" class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body text-center">
        <p>Success</p>
      </div>
      <div style="padding-bottom: 10px;" class="text-center">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
