.glyphicon-copy {
    margin-left: 5px;
    cursor: pointer;
    color: dimgray;
}

table td {
    vertical-align: middle;
}

.study-action-buttons {
  display: flex;
  align-items: baseline;
}

.study-action-buttons .hint {
  font-size: 0.6em;
}
